@media (min-width: 992px) and (max-width: 1199px) {
	

p {
    font-size: 15px;
  }
.navbar-default .navbar-nav > li > a {
    font-size: 14px;
    padding: 27px 7px 35px 9px;

}
.quote-box {
    padding: 42.7px 0;
	-webkit-padding-after: 42.7px;
    -webkit-padding-before: 45px;
	}
	
.intro p.sub-heading strong {
     font-size: 22px;
}	
.abt-insurances .featured-agency p {
    font-size: 23px;
	}

.abt-insurances ul span {
    font-size: 22px;
}
	
	
.address-area a, .address-area span {
    color: #fff;
    font-size: 17px;
}
.address-area i {
    font-size: 65px;
}	
.quote-form .TitleStyle5 {
    font-size: 48px;
	}
.navbar-nav > li > .dropdown-menu {
    min-width: 184px;
}

.intro-title {
    font-size: 42px;
}
.intro p strong {
    font-size: 22px;
 }
.about-agency .TitleStyle5 {
    font-size: 22px;

}

.footer-nav li a,
.foot-links a,
.foot-links p {
font-size:12px}

.foot-contact li {
      font-size: 14px;
}

.cq-banner img {
    height: 403px;
 
}
.width-fx{
	width: 100% !important;
}
}

@media (min-width: 768px) and (max-width: 991px) {
	.type-of-insurance::after {
  bottom: 7px;
  right: 12px;
}
#Type{
	padding: 5px 12px;
}
.cq-banner img {
    height: 308px; 
}

p {
    font-size: 16px;
  }
.navbar-default .navbar-nav > li > a {
	font-size:11px;
	padding:23px 5px 27px 5px;
	
}

.nav-top {
    float: none;
}
.navbar-nav > li > .dropdown-menu {
    min-width: 152px;
}
.logo-anchor {
    margin: 20px 0;
	}
.quote-form .TitleStyle5 {
    font-size: 32px;
    line-height: 34px;
}

.quote-box{
padding: 18.5px 0;
-webkit-padding-after: 18.5px;
    -webkit-padding-before: 19px;
}
label {
	font-size: 13px;
}
.search-button {
    width: 90%;
    padding-left: 0;
}

.btn-quote {
    width: 100%;
    font-size: 20px;
    padding: 0 4px;
}

.search-location-inside,
.type-of-insurance {
       padding-left: 0;
}

.search-type {
    width: 90%;
}

#intro {
    margin: 0 auto;
    width: 100%;
    padding: 0 15px;
}
.intro-title {
font-size: 32px;
line-height: 38px;
	}

.address-area a, .address-area span {
    color: #fff;
    font-size: 13px;
}
.address-area i {
    font-size: 65px;
}

.intro p strong {
    font-size: 19px;
}

.about-agency .TitleStyle5
{
    font-size: 18px;
    line-height: 29px;

  }


.abt-insurances .featured-agency p 
{
    font-size: 24px;
    line-height: 29px;

  }

.abt-insurances ul{
    font-size: 18px;
    line-height: 29px;

  }

.about-agency.abt-insurances .TitleStyle5 {

background-size: 219px;
background-position: 0;
width:219px;
height:219px;
 }  
 

.abt-insurances .featured-agency {

    margin: 24px 0;

}
.about-agency.abt-insurances .TitleStyle5 i {
      font-size: 95px;
	width:219px;
	line-height:219px;
}
.footer-nav li {
    width: 50%;
    font-size: 16px;
}


.foot-contact li{
font-size: 16px;
}

.footer-nav li a{
font-size: 15px;
}



.col-sm-9.nav-menu {
	margin-right: 0px;
	padding-right: 0px;
}
.cq-frm-headng {
    margin-top: 77px;
}
}




@media screen and (max-width: 767px) {

.nav-menu {
    position: static;
 }
.navbar-default .navbar-nav > li {
  padding-left: 0px;
}
.font-fix li{
	    font-size: 15px;
		color:#333;
		line-height:26px;
}


.ban-image div {
    padding: 0;
}


p {

    font-size: 15px;
}

.main-content {
    padding: 30px 0;
}

.featured-agency {
    padding: 0;
}

.about-agency .TitleStyle5 {
    font-size: 17px;
    margin: 14px 0;
	line-height:28px;
 }

 .address-area a, .address-area span {
    color: #fff;
    font-size: 16px;
}
.foot-logo {
    padding-left: 0;
}

.foot-links {
    padding: 0 7px;
}

.main-banner {
	padding-bottom: 0px;
	width:100%;
	z-index:3;
}

.navbar {
	margin-top: -74px;
}

.nav-top {
    height: auto;
    float: none;
    width: 100%;
}

.navbar-default .navbar-nav > li {
	background-color: #642dc7;
	margin-bottom: 10px;
	border-radius: 5px;
	border:1px solid #4a2294;
	margin-left:15px;
	margin-right:15px;

}

.quote-box {
    padding: 30px 0;
	}
	
.quote-box-form {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}	
label {
     font-size: 13px;
	}
.quote-form .TitleStyle5 {
padding: 0 13%;
font-size: 32px;
line-height: 40px;
text-align: center;
}
.cq-frm {
 	margin-top: 10px;
}
.cq-frm-headng {
    margin-top: 10px;
	margin-bottom: 20px;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a.active{
    background: #4a2294 !important;
    color: #fff !important;
}


.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a.active, .navbar-default .navbar-nav > li > a:hover {
border-radius: 5px;
	margin-top: 0;
	text-align:center;

}

.navbar-default .navbar-nav > li > a.active, .navbar-default .navbar-nav > li > a:hover {
background: #4a2294;
}

.logo-sec{
z-index:3;
}
.logo-anchor{
display:inline-block;
}

.search-button {
     width: 94%;
 
}
.search-btn {
    margin-left: 15px;
    margin-top: 6px;
    margin-bottom: 10px;
}

.navbar-nav {
	margin: 0px;
	width: 100%;
}

.navbar-default .navbar-nav > li > a {
	font-size: 14px!important;
	padding: 10px!important;

}
.navbar .navbar-collapse {
	text-align: left;
	position: relative;
	z-index: 99;
	width: 100%;
	box-shadow:none;
}
ul.navbar-nav:nth-child(1) {
    padding-top: 15px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #642dc7;
}



.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: #4a2294;
	color: #fff;
}


.navbar-toggle, .navbar-toggle:hover {
    padding: 0px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 0px;
    background: #642dc7;
    border: 0px none;
    box-shadow: none;
    border-bottom: none;
    cursor: pointer;
    height: 67px;
    overflow: hidden;
    width: 56px;
    float: right;
    z-index: 100;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
	border-bottom-left-radius: 0;
border-bottom-right-radius: 0;
}

.navbar-collapse {
	margin-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
}

.navbar-default .navbar-nav > li > a {
    color: #fff;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	color: #fff;
	text-align:center;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
	color: #fff;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > a.active {
	color: #fff;
}


.navbar-default .navbar-nav > li,.navbar-default .navbar-nav > li > a,.navbar-default .navbar-nav > li > a span{
display:block;
height:auto;
}

.nav-top ul.tab-row{
display:inline !important;
}
.navbar-collapse.collapse
{
    display: none !important;
    visibility: hidden;
	height:inherit !important;
}
.collapse.in {
    display: block !important;
    visibility: visible;
}


.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
	background:#642dc7;
}


.logo {
	padding-bottom: 20px;
	z-index:99;
}


.address-area ul{
padding-left:0;
}
.address-area i {
    font-size: 49px;
    margin-bottom: 0;
}
.address-area li {
    width: 100%;
    margin: 15px 0;
}

.address-area {
      padding: 15px 0;
}


.intro-title {
    font-size: 30px;
    line-height: 40px;
}


.search-location-inside ,.type-of-insurance{
    padding-left: 0;
    padding-right: 0;
}
.type-of-insurance::after {
    bottom: 27px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
	border-color: #2e2e2e;
}
.intro p.sub-heading strong {
        font-size: 18px;
    }
	

footer .TitleStyle2 {
   margin-bottom: 10px;
font-size: 24px;
margin-top: 10px;

}


	
.form-control {
	width: 100%;
	margin-bottom: 20px;
}
.search-type {
	width: 100%;
	position: relative;
	z-index: 2;
	padding-left: 20px;
	padding-right: 20px;
}
.ban-image {
	position: relative;
    margin-right: 0px;
}
#banner {
    width: 100%;
	height: 100%;
	max-height: 350px;
	object-fit:cover;
    border-radius: 0px;
}

.overlay-effect,.agency-about-overlay {
     width: 100%;
  }

#featured-agency-banner {
    width: 100%;
    border-radius: 0px;
}
footer .TitleStyle2:last-of-type {
	margin-top: 30px;
}
.agency-about {
    display: block;
    align-items: center;
    margin-top: 0px;
}

.copyright {
	padding: 20px 10px;
}



.fa-check-circle {
	margin-right: 10px;
	font-size: 17px!important;
}


.footer-nav li {
	width: 100%;
}

.logo-anchor {
    margin: 20px 0;

}
.nav-menu {
    padding: 0;
}


.about-agency.abt-insurances .TitleStyle5 {
    margin: 55px auto;
    background-size: 219px;
    background-position: 0;
    width: 219px;
    height: 219px;
}


.about-agency.abt-insurances .TitleStyle5 i {
      font-size: 95px;
	width:219px;
	line-height:219px;
}




.abt-insurances .featured-agency {
    margin: 23px 0;
    padding: 0 15px;
}
.abt-insurances .featured-agency p ,
.abt-insurances ul{
    font-size: 18px;
    line-height: 29px;
	}
	
.cq-banner img {
    height: auto;

}	
}


@media (min-width: 320px) and (max-width: 480px) {

.search-button {
     width: 86%;
 
}
}

@media screen and (max-width: 1199px) {
	
a.sms-txt{
	cursor: pointer;
	pointer-events: auto;
	text-decoration: none;
}

}